-# frozen_string_literal: true
= simple_form_for(@timetable) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :conf_id, label: 'Conference Id'
    = f.input :event_id, label: 'Event Id'
    = f.input :day_num, label: 'Day number'
    = f.input :start_time, label: 'Start time'
    = f.input :end_time, label: 'End time'

  .form-actions
    = f.button :submit
