%h1 Notifications

= link_to 'New Notification', new_notification_path, class: 'btn btn-primary btn-new-notification'
%br
%br
= search_form_for @q do |f|
  -# filter name
  .form-row
    .col.form-group
      = f.search_field :not_id_cont, class: 'form-control', placeholder: 'Title Contains'
    .col.form-group
      .form-actions
        = f.submit "Search", class: 'btn btn-primary'
        = link_to 'Reset Search', notifications_url, :class => 'btn btn-default'


.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th=sort_link(@q, :not_id, 'Title', default_order: :desc)
      %th=sort_link(@q, :time, 'Time')
      %th
      %th
      %th

  %tbody
    - @notifications.each do |notification|
      %tr
        %td= notification.not_id
        %td= notification.time
        %td.dropdown
          %btn.btn.btn-secondary.dropdown-toggle
            Options
          .dropdown-content
            = link_to 'Show', notification, class: 'dropdown-item'
            = link_to 'Edit', edit_notification_path(notification), class: 'dropdown-item'
            = link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item'

%br
