%h1 Notifications

= search_form_for @q do |f|
  -# filter name
  = f.label "Title contains"
  = f.search_field :not_id_cont

  = f.submit "Search"

= link_to 'Reset Search', notifications_url



.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th=sort_link(@q, :not_id, 'Title', default_order: :desc)
      %th=sort_link(@q, :not_des, 'Description')
      %th=sort_link(@q, :time, 'Time')
      %th
      %th
      %th

  %tbody
    - @notifications.each do |notification|
      %tr
        %td= notification.not_id
        %td= notification.not_des
        %td= notification.time
        %td= link_to 'Show', notification
        %td= link_to 'Edit', edit_notification_path(notification)
        %td= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
