%h1 Notifications

.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th= sortable 'not_id', 'Notification Name'
      %th= sortable 'not_des', 'Notification Description'
      %th= sortable 'time', 'Time'
      %th
      %th
      %th

  %tbody
    - @notifications.each do |notification|
      %tr
        %td= notification.not_id
        %td= notification.not_des
        %td= notification.time
        %td= link_to 'Show', notification
        %td= link_to 'Edit', edit_notification_path(notification)
        %td= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
