%p#notice= notice

%p
  %b Notification Name:
  = @notification.not_id
%p
  %b Notification Description:
  = @notification.not_des
%p
  %b Time of Notification:
  = @notification.time

= link_to 'Edit', edit_notification_path(@notification), :class => 'btn btn-default'
\|
= link_to 'Back', notifications_path, :class => 'btn btn-default'
