-# frozen_string_literal: true
= simple_form_for(@booking) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :booking_reference
    = f.input :institution
    = f.input :ticket_type
    = f.input :access_req
    = f.input :catering
    = f.input :attended
    = f.input :dietary_req
    = f.association :conference
    = f.association :user

  .form-actions
    = f.button :submit
