-# frozen_string_literal: true
= simple_form_for(@booking) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :booking_reference, placeholder: "E.g. 123456789"
    = f.input :institution, placeholder: "Enter Institution"
    = f.input :ticket_type, label: "Number of Days", placeholder: "Enter the Number of Days this ticket is valid for"
    = f.input :access_req, label: "Access Requirements (e.g. Wheelchair)", placeholder: "Leave blank if unrequired"
    = f.input :catering
    = f.input :certificate
    = f.input :attended
    = f.input :dietary_req, label: "Dietary Requirements (e.g. Vegan)", placeholder: "Leave blank if unrequired"
    = f.association :conference, prompt: "Select a Conference"
    = f.association :user, prompt: "Choose a User"

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
