%h1 Listing bookings

.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th= sortable 'booking_reference', 'Booking Reference'
      %th= sortable 'user_id', 'User'
      %th= sortable 'institution', 'Institution'
      %th= sortable 'ticket_type', 'Ticket Type'
      %th= sortable 'access_req', 'Access Requirements'
      %th= sortable 'catering', 'Catering'
      %th= sortable 'attended', 'Attended'
      %th= sortable 'dietary_req', 'Dietary Requirements'
      %th= sortable 'conference_id', 'Conference'
      %th
      %th
      %th

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.booking_reference
        %td= booking.user.username
        %td= booking.institution
        %td= booking.ticket_type
        %td= booking.access_req
        %td= booking.catering
        %td= booking.attended
        %td= booking.dietary_req
        %td= booking.conference_id
        %td= link_to 'Show', booking
        %td= link_to 'Edit', edit_booking_path(booking)
        %td= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }


%br

= link_to 'New Booking', new_booking_path
