

%h5 Listing bookings

= link_to 'New Booking', new_booking_path, class: 'btn btn-primary btn-new-user'
%br
= search_form_for(@q) do |f|
  .form-row
    .col.form-group
      -# filter name
      = f.search_field :user_username_cont, class: 'form-control', placeholder: 'Username contains:',id: 'Search_username'
    .col.form-group
      -# filter institution
      = f.search_field :booking_reference_cont, class: 'form-control', placeholder: 'Booking Ref contains:',id: 'Search_bref'
  .form-group
    -# filter attended
    = f.label :attended
    = select :q, :attended_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:attended_true] : '' }
  .form-actions
    = f.submit "Search", class: 'btn btn-primary'
    = link_to 'Reset Search', bookings_url, :class => 'btn btn-default'

.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th=sort_link(@q, :user_id, 'User')
      %th=sort_link(@q, :booking_reference, 'Booking Reference')
      %th=sort_link(@q, :institution, 'Institution')
      %th=sort_link(@q, :ticket_type, 'Ticket Type')
      %th=sort_link(@q, :access_req, 'Access Requirements')
      %th=sort_link(@q, :catering, 'Catering')
      %th=sort_link(@q, :certificate, 'Certificate')
      %th=sort_link(@q, :attended, 'Attended')
      %th=sort_link(@q, :dietary_req, 'Dietary Requirements')
      %th=sort_link(@q, :conference_id, 'Conference')
      %th

  %tbody
    - @bookings.each do |booking|
      -if !booking.user.nil?
        %tr
          %td= booking.user.username
          %td= booking.booking_reference
          %td= booking.institution
          %td= booking.ticket_type > 1 ? " #{booking.ticket_type} Days " : " #{booking.ticket_type} Day "
          %td= booking.access_req
          %td= bool_to_glyph(booking.catering)
          %td= bool_to_glyph(booking.certificate)
          %td= bool_to_glyph(booking.attended)
          %td= booking.dietary_req
          %td= booking.conference_id
          %td.dropdown
            %btn.btn.btn-secondary.dropdown-toggle
              Options
            .dropdown-content
              = link_to 'Show', booking, class: 'dropdown-item'
              = link_to 'Edit', edit_booking_path(booking), class: 'dropdown-item'
              = link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item'
              -# = link_to 'Toggle Attended', toggle_attended_booking_path(booking), method: :patch, remote: :true,  class: 'dropdown-item'
              = link_to 'Toggle Attended', booking_path(booking, booking: {attended: !booking.attended}), method: :put, class: 'dropdown-item'
