%p#notice= notice

%p
  %b Booking reference:
  = @booking.booking_reference

%p
  %b Institution:
  = @booking.institution
%p
  %b Ticket type:
  = case @booking.ticket_type
  - when 1
    = "Day 1"
  - when 2
    = "Day 2"
  -when 3
    = "Both days"
%p
  %b Access req:
  = @booking.access_req
%p
  %b Catering:
  = @booking.catering
%p
  %b Certificate:
  = @booking.certificate
%p
  %b Attended:
  = @booking.attended
%p
  %b Dietary req:
  = @booking.dietary_req
%p
  %b Conference:
  = @booking.conference_id
%p
  %b User:
  = @booking.user_id



= link_to 'Edit', edit_booking_path(@booking)
\|
= link_to 'Back', bookings_path
