%p#notice= notice

%p
  %b Booking reference:
  = @booking.booking_reference

%p
  %b Institution:
  = @booking.institution
%p
  %b Ticket type:
  = @booking.ticket_type
%p
  %b Access req:
  = @booking.access_req
%p
  %b Catering:
  = @booking.catering
%p
  %b Attended:
  = @booking.attended
%p
  %b Dietary req:
  = @booking.dietary_req

= link_to 'Edit', edit_booking_path(@booking)
\|
= link_to 'Back', bookings_path
