-# frozen_string_literal: true
= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.label "User Access"
    %br
    = f.select :access, [['Admin',1],['Delegate', 2]]
    = f.input :institution
    = f.input :email
    = f.input :name

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
