%h1 Account
%p#notice= notice

%p
  %b Username:
  = current_user.username
%p
  %b Email:
  = current_user.email
%p
  %b Name:
  = current_user.name


= link_to 'Edit', "/users/editU"
= link_to 'Change Password', "/users/changepw"
