%h1 Badge
%p
  %b Name:
  = current_user.name
%p
  %b institute:
  = current_user.institution




  #wrap
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to '/users/indexU', class: 'navbar-brand hidden-sm' do
            NEF Scanning App

        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            = navbar_link_to '/users/indexU', title: "Go to the home page", identifier: :home do
              = fa_icon 'home'
              Home
            = navbar_link_to '/users/badge', title: "Badge", identifier: :another_page do
              = fa_icon 'id-badge'
              Badge
            = navbar_link_to '/timetables/timetable', title: "Go to TimeTable", identifier: :another_page do
              = fa_icon 'calendar'
              Timetable
            = navbar_link_to '/conferences/map', title: "Go to map", identifier: :another_page do
              = fa_icon 'map'
              Map
            = navbar_link_to 'https://forms.gle/AUqrnp9MQtWyVuhf7', title: "Submit feedback", identifier: :another_page do
              = fa_icon 'wpforms'
              Feedback
            = navbar_link_to '/users/account', title: "account", identifier: :another_page do
              = fa_icon 'cog'
              Account

          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                = link_to '#', data: { toggle: :dropdown }, class: 'dropdown-toggle', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
                  = fa_icon 'user', text: current_user.username
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to destroy_user_session_path, method: :delete, title: "Log out of the system" do
                      = fa_icon 'sign-out', text: 'Log out'
