%h1 Changing Password

= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.label :old_password
    = f.text_field :old_password

  .form-actions
    = f.button :submit
