= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', 'data-turbolinks-track' => true
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= yield


%h2 Listing users

.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th= sortable 'Username'
      %th= sortable 'Access'
      %th= sortable 'Email'
      %th= sortable 'Institution'
      %th= sortable 'Name'
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.access
        %td= user.email
        %td= user.institution
        %td= user.name
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
