%h2 All users

= search_form_for @q do |f|
  -# filter name
  = f.label :name_cont
  = f.search_field :name_cont
  %br
  -# filter institution
  = f.label :institution_cont
  = f.search_field :institution_cont
  %br
  -# filter attended
  = f.label :attended
  = select :q, :booking_attended_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:booking_attended_true] : '' }
  %br
  = f.submit "Search"

= link_to 'Reset Search', users_path

.table-responsive
%table.table.table-striped#userstable
  %thead
    %tr
      %th Username
      %th Access
      %th Institution
      %th Email
      %th=sort_link(@q, :name, 'Name', default_order: :desc)
      %th Attended

  %tbody
    - @users_with_attended.each do |user|
      %tr
        %td= user.username
        %td= user.access
        %td= user.institution
        %td= user.email
        %td= user.name
        %td= bool_to_glyph(user.bookings_attended)
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br


= link_to 'New User', new_user_path

= form_tag import_users_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"
