%br
%h2 All users

= link_to 'New User', new_user_path, class: 'btn btn-primary btn-new-user'
= form_tag import_users_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import", class: 'btn btn-secondary'
%br

= search_form_for(@q) do |f|
  .form-row
    .col.form-group
      -# filter name
      -# = f.label :name_cont
      = f.search_field :name_cont, class: 'form-control', placeholder: 'Name Contains:', id: 'S-name'
    .col.form-group
      -# filter institution
      = f.search_field :institution_cont, class: 'form-control', placeholder: 'Institution Contains: ', id: 'S-institution'
  .form-group
    -# filter attended
    = f.label :attended
    = select :q, :booking_attended_true, [['Yes', 1], ['No', 0]], { include_blank: 'All', selected: params[:q] ? params[:q][:booking_attended_true] : '' }
  .form-actions
    = f.submit "Search", class: 'btn btn-primary'
    = link_to 'Reset Search', users_path, :class => "btn btn-default"

%br
.table-responsive
%table.table.table-striped#userstable
  %thead
    %tr
      %th=sort_link(@q, :username, 'Username')
      %th=sort_link(@q, :access, 'Access')
      %th=sort_link(@q, :institution, 'Institution')
      %th=sort_link(@q, :email, 'Email')
      %th=sort_link(@q, :name, 'Name', default_order: :desc)
      %th Attended
      %th
  %tbody
    - @users_with_attended.each do |user|
      %tr
        %td= user.username
        -if user.access == 1
          %td= "Admin"
        -else
          %td= "Delegate"
        %td= user.institution
        %td= user.email
        %td= user.name
        %td= bool_to_glyph(user.bookings_attended)
        %td.dropdown
          %btn.btn.btn-secondary.dropdown-toggle
            Options
          .dropdown-content
            = link_to 'Show', user, class: 'dropdown-item'
            = link_to 'Edit', edit_user_path(user), class: 'dropdown-item'
            = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item'
            -# = link_to 'Toggle Attended', toggle_attended_booking_path(Booking.where(user_id: user.id).first), method: :patch, remote: :true,  class: 'dropdown-item', :onclick => 'location.reload()'
            -# = link_to 'Toggle Attended', edit_booking_path(Booking.where(user_id: user.id).first), class: 'dropdown-item'
