%h2 Listing users

.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th Username
      %th Access
      %th Email
      %th Institution
      %th Name
      %th Attended
      %th
      %th
      %th

  %tbody
    - @users_with_attended.each do |user|
      %tr
        %td= user.username
        %td= user.access
        %td= user.email
        %td= user.institution
        %td= user.name
        %td= user.bookings_attended
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
