%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Password:
  = @user.password
%p
  %b Access:
  = @user.access
%p
  %b Institution:
  = @user.institution
%p
  %b Email:
  = @user.email
%p
  %b Name:
  = @user.name
%p
  %b Booking Reference:
  = @user.booking_reference

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
