%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Username:
  = @user.username
%p
  %b Access:
  -if @user.access == 1
    = "Admin"
  -else
    = "Delegate"
%p
  %b Institution:
  = @user.institution
%p
  %b Email:
  = @user.email


= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default"
\|
= link_to 'Back', users_path, :class => "btn btn-default"
