-# frozen_string_literal: true
= simple_form_for(@conference) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :conf_id, label: 'Conference id'
    = f.input :days, label: 'Days'
    = f.input :name, label: 'Conference name'
    = f.input :location, label: 'Conference label'

  .form-actions
    = f.button :submit
