%h1 Listing conferences

.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th= sortable 'id', 'Conference'
      %th= sortable 'days', 'Days'
      %th= sortable 'name', 'Name'
      %th= sortable 'location', 'Location'
      %th= sortable 'start_date', 'Start Date'
      %th= sortable 'end_date', 'End Date'
      %th
      %th
      %th

  %tbody
    - @conferences.each do |conference|
      %tr
        %td= conference.id
        %td= conference.days
        %td= conference.name
        %td= conference.location
        %td= conference.start_date
        %td= conference.end_date
        %td= link_to 'Show', conference
        %td= link_to 'Edit', edit_conference_path(conference)
        %td= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Conference', new_conference_path
