%h1 Listing conferences

%table
  %thead
    %tr
      %th Conference
      %th Days
      %th Name
      %th Location
      %th
      %th
      %th

  %tbody
    - @conferences.each do |conference|
      %tr
        %td= conference.conf_id
        %td= conference.days
        %td= conference.name
        %td= conference.location
        %td= link_to 'Show', conference
        %td= link_to 'Edit', edit_conference_path(conference)
        %td= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Conference', new_conference_path
