%p#notice= notice


%p
  %b Days:
  = @conference.days
%p
  %b Name:
  = @conference.name
%p
  %b Location:
  = @conference.location

= link_to 'Edit', edit_conference_path(@conference), :class => 'btn btn-default'
\|
= link_to 'Back', conferences_path, :class => 'btn btn-default'
