-# frozen_string_literal: true
= simple_form_for(@timetable) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :session_id
    = f.input :conference_id
    = f.input :day_num
    = f.input :start_time
    = f.input :end_time

  .form-actions
    = f.button :submit
