-# frozen_string_literal: true
= simple_form_for(@conference) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :conf_id
    = f.input :days
    = f.input :name
    = f.input :location

  .form-actions
    = f.button :submit
